body {
  background-color: #f7f7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#editor-container {
  width: 1024px;
  height: 700px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

#title {
  color: #363636;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#template-names:hover {
  cursor: pointer;
  background-color: rgb(166, 194, 245);
}

#new-section {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#input:focus {
  border-width: 4px;
  border-color: black;
}

#input {
  height: 20px;
  width: 300px;
  border-width: 2px;
  border-color: transparent;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding-left: 10px;
}

#btn {
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(166, 194, 245);
  background-color: transparent;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  width: fit-content;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#btn:hover {
  cursor: pointer;
  background-color: rgb(166, 194, 245);
}

#header {
  font-size: large;
  color: #363636;
  font-weight: bolder;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
